/* Happy New Year */
.div {
    background-color: #fff;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
  }
  .span {
    display: flex;
    width: 100%;
    max-width: 1320px;
    flex-direction: column;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .span {
      max-width: 100%;
    }
  }
  .div-2 {
    flex-direction: column;
    overflow: hidden;
    align-self: stretch;
    position: relative;
    display: flex;
    min-height: 600px;
    width: 100%;
    padding-left: 6px;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }
  .img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-3 {
    position: relative;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 60px;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .span-2 {
    display: flex;
    width: 548px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 134px 0 108px;
  }
  @media (max-width: 991px) {
    .span-2 {
      margin: 40px 0;
    }
  }
  .div-4 {
    color: #fff;
    text-align: center;
    white-space: nowrap;
    font: 400 32px Merriweather, sans-serif;
  }
  @media (max-width: 991px) {
    .div-4 {
      white-space: initial;
    }
  }
  .div-5 {
    color: #fff;
    text-align: center;
    align-self: stretch;
    margin-top: 36px;
    font: 900 72px/95px Merriweather, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      font-size: 40px;
      line-height: 58px;
    }
  }
  .div-6 {
    color: #f00;
    text-align: center;
    align-self: center;
    margin-top: 140px;
    white-space: nowrap;
    font: 700 88px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-6 {
      font-size: 40px;
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-7 {
    color: #f00;
    text-align: center;
    align-self: center;
    margin-top: 72px;
    white-space: nowrap;
    font: 500 24px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-7 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-8 {
    color: #070211;
    text-align: center;
    align-self: center;
    margin-top: 33px;
    white-space: nowrap;
    font: 700 48px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-8 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .img-2 {
    aspect-ratio: 1.61;
    object-fit: contain;
    object-position: center;
    width: 803px;
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
    overflow: hidden;
    align-self: center;
    margin-top: 60px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .img-2 {
      margin-top: 40px;
    }
  }
  .div-9 {
    border-radius: 16px;
    align-self: stretch;
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-9 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-10 {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
  }
  @media (max-width: 991px) {
    .div-10 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-11 {
    width: 1056px;
    max-width: 100%;
    margin: 18px 0 17px;
  }
  .div-12 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-12 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 69%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .span-3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .span-3 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-13 {
    color: #fff;
    letter-spacing: 7.04px;
    align-self: stretch;
    font: 900 64px/88px Merriweather, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-13 {
      max-width: 100%;
      font-size: 40px;
      line-height: 61px;
    }
  }
  .div-14 {
    color: rgba(255, 255, 255, 0.8);
    align-self: stretch;
    margin-top: 37px;
    font: 400 18px/30px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-14 {
      max-width: 100%;
    }
  }
  .div-15 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 56px 0 0 33px;
    font: 700 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-15 {
      white-space: initial;
      margin: 40px 0 0 10px;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 31%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .img-3 {
    aspect-ratio: 0.69;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-3 {
      margin-top: 39px;
    }
  }
  .div-16 {
    border-radius: 16px;
    align-self: stretch;
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
  }
  @media (max-width: 991px) {
    .div-16 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .span-4 {
    display: flex;
    width: 545px;
    max-width: 100%;
    flex-direction: column;
    margin: 67px 0 38px;
  }
  @media (max-width: 991px) {
    .span-4 {
      margin-top: 40px;
    }
  }
  .div-17 {
    color: #070211;
    text-align: center;
    text-transform: capitalize;
    font: 600 32px/56px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
    }
  }
  .span-5 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    justify-content: center;
    border-radius: 8px;
    background-color: #f00;
    align-self: center;
    margin-top: 57px;
    padding: 16px 32px;
    font: 700 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .span-5 {
      white-space: initial;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-18 {
    align-self: stretch;
    margin-top: 120px;
  }
  @media (max-width: 991px) {
    .div-18 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-19 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-19 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .span-6 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .span-6 {
      margin-top: 40px;
    }
  }
  .div-20 {
    color: #f00;
    text-align: center;
    font: 500 24px Inter, sans-serif;
  }
  .div-21 {
    color: #070211;
    text-transform: capitalize;
    margin-top: 30px;
    font: 900 48px Merriweather, sans-serif;
  }
  @media (max-width: 991px) {
    .div-21 {
      font-size: 40px;
    }
  }
  .div-22 {
    color: rgba(7, 2, 17, 0.6);
    margin-top: 30px;
    font: 400 20px/32px Inter, sans-serif;
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 43%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-23 {
    border-radius: 50%;
    border: 15px solid #f00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 49px;
  }
  @media (max-width: 991px) {
    .div-23 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .img-4 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 23%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .span-7 {
    display: flex;
    margin-top: 123px;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
  }
  @media (max-width: 991px) {
    .span-7 {
      margin-top: 40px;
    }
  }
  .div-24 {
    color: #f00;
    align-self: stretch;
    font: 700 48px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-24 {
      font-size: 40px;
    }
  }
  .div-25 {
    color: rgba(7, 2, 17, 0.6);
    align-self: stretch;
    margin-top: 35px;
    font: 400 20px/32px Inter, sans-serif;
  }
  .img-5 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 140px;
    overflow: hidden;
    margin-top: 52px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .img-5 {
      margin-top: 40px;
    }
  }
  .div-26 {
    color: #070211;
    align-self: center;
    margin-top: 123px;
    white-space: nowrap;
    font: 500 24px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-26 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-27 {
    color: #070211;
    text-align: center;
    align-self: center;
    margin-top: 34px;
    font: 700 72px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-27 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-28 {
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    align-self: center;
    margin-top: 38px;
    max-width: 1068px;
    font: 500 20px/32px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-28 {
      max-width: 100%;
    }
  }
  .img-6 {
    aspect-ratio: 1.99;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: stretch;
    margin-top: 73px;
  }
  @media (max-width: 991px) {
    .img-6 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-29 {
    color: #f00;
    align-self: stretch;
    margin-top: 125px;
    font: 500 24px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-29 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-30 {
    color: #070211;
    text-transform: capitalize;
    align-self: stretch;
    margin-top: 29px;
    font: 900 48px Merriweather, sans-serif;
  }
  @media (max-width: 991px) {
    .div-30 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-31 {
    color: rgba(7, 2, 17, 0.6);
    align-self: stretch;
    margin-top: 42px;
    font: 400 20px/32px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-31 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-32 {
    align-self: stretch;
    margin-top: 53px;
  }
  @media (max-width: 991px) {
    .div-32 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-33 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-33 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
  .img-7 {
    aspect-ratio: 0.94;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-7 {
      max-width: 100%;
      margin-top: 24px;
    }
  }
  .column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-7 {
      width: 100%;
    }
  }
  .img-8 {
    aspect-ratio: 0.94;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-8 {
      max-width: 100%;
      margin-top: 24px;
    }
  }
  .column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-8 {
      width: 100%;
    }
  }
  .img-9 {
    aspect-ratio: 0.94;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-9 {
      max-width: 100%;
      margin-top: 24px;
    }
  }
  .div-34 {
    align-self: stretch;
    margin-top: 24px;
  }
  @media (max-width: 991px) {
    .div-34 {
      max-width: 100%;
    }
  }
  .div-35 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-35 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-9 {
      width: 100%;
    }
  }
  .img-10 {
    aspect-ratio: 0.94;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-10 {
      max-width: 100%;
      margin-top: 24px;
    }
  }
  .column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-10 {
      width: 100%;
    }
  }
  .img-11 {
    aspect-ratio: 0.94;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-11 {
      max-width: 100%;
      margin-top: 24px;
    }
  }
  .column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-11 {
      width: 100%;
    }
  }
  .img-12 {
    aspect-ratio: 0.94;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-12 {
      max-width: 100%;
      margin-top: 24px;
    }
  }
  .div-36 {
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    align-self: stretch;
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
  }
  @media (max-width: 991px) {
    .div-36 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .span-8 {
    display: flex;
    width: 868px;
    max-width: 100%;
    flex-direction: column;
    margin: 30px 0;
  }
  .img-13 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 150px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
  }
  .div-37 {
    color: #070211;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    margin-top: 48px;
    font: 900 48px Merriweather, sans-serif;
  }
  @media (max-width: 991px) {
    .div-37 {
      max-width: 100%;
      font-size: 40px;
      margin-top: 40px;
    }
  }
  .div-38 {
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    align-self: stretch;
    margin-top: 42px;
    font: 400 20px/32px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-38 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .span-9 {
    border-radius: 50px;
    background-color: #fff;
    align-self: center;
    display: flex;
    margin-top: 53px;
    width: 648px;
    max-width: 100%;
    padding-left: 32px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .span-9 {
      flex-wrap: wrap;
      padding-left: 20px;
      margin-top: 40px;
    }
  }
  .div-39 {
    color: rgba(7, 2, 17, 0.3);
    text-align: center;
    margin: auto 0;
    font: 400 18px Inter, sans-serif;
  }
  .span-10 {
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
    border-radius: 0px 50px 50px 0px;
    background-color: #f00;
    align-self: stretch;
    justify-content: center;
    padding: 29px 57px;
    font: 600 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .span-10 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-40 {
    background-color: #070211;
    align-self: stretch;
    display: flex;
    margin-top: 120px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
  }
  @media (max-width: 991px) {
    .div-40 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-41 {
    display: flex;
    width: 100%;
    max-width: 1320px;
    flex-direction: column;
    margin: 78px 0 47px;
  }
  @media (max-width: 991px) {
    .div-41 {
      max-width: 100%;
      margin: 40px 0;
    }
  }
  .span-11 {
    align-self: stretch;
    display: flex;
    padding-right: 80px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .span-11 {
      max-width: 100%;
      flex-wrap: wrap;
      padding-right: 20px;
    }
  }
  .div-42 {
    color: #fff;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 500 24px/40px Inter, sans-serif;
  }
  .div-43 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .span-12 {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
  .img-14 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-44 {
    color: #fff;
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 500 24px/167% Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-44 {
      white-space: initial;
    }
  }
  .span-13 {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    gap: 16px;
  }
  .img-15 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-45 {
    color: #fff;
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 500 24px/167% Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-45 {
      white-space: initial;
    }
  }
  .div-46 {
    background-color: rgba(255, 255, 255, 0.15);
    align-self: stretch;
    margin-top: 57px;
    height: 1px;
  }
  @media (max-width: 991px) {
    .div-46 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .img-16 {
    aspect-ratio: 5.13;
    object-fit: contain;
    object-position: center;
    width: 328px;
    overflow: hidden;
    align-self: center;
    margin-top: 48px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .img-16 {
      margin-top: 40px;
    }
  }
  .div-47 {
    background-color: rgba(255, 255, 255, 0.15);
    align-self: stretch;
    margin-top: 47px;
    height: 1px;
  }
  @media (max-width: 991px) {
    .div-47 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .span-14 {
    align-self: stretch;
    display: flex;
    margin-top: 55px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .span-14 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .div-48 {
    color: #fff;
    flex-grow: 1;
    flex-basis: auto;
    font: 500 24px Inter, sans-serif;
  }
  .div-49 {
    color: #fff;
    font: 500 24px Inter, sans-serif;
  }